/* CSS BY Nicole Miller */

/* IMPORTED FONTS */
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap);

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, h1, h2, h3, h4, p, a, img, ul, li, table, tr, th, td, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} 

/* ROOT VARIABLES */
:root {

    --teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}

/* GLOBAL STYLES (mobile first/small) */

html {
    max-width: 450px;
    margin: 0 auto;
}
body {
    font-family: "inter";
    background-color: var(--lavender);
}

header, main, footer {
    background-color: var(--purple);
}

nav {
    background-color: var(--yellow);
    padding: 20px;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-family: "kavoon";
    color: var(--white);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    padding: 10px;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
    padding: 10px;
    font-weight: bold;
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    padding: 10px;
    font-weight: bold;
}

header {
    color:var(--white);
    text-align: center;
}

#heading {
    margin: 10px;
    padding: 20px;
}

nav h2 {
    font-size: 1.5em;
    text-align: center;
    font-family: "inter";
    font-style: italic;
    font-weight: bold;
    color: var(--dark-gray);
}

nav a {
    text-decoration: none;
    color: var(--purple);
    display: block;
    background-color: var(--white);
    text-align: center;
    padding: 10px;
    margin: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:visited{
    color: var(--purple);
}
p{
    padding: 10px;
}

#personal, #career, #relationship, #community, #focused, #interactive, #flexible {
    display: block;
    background-color: var(--white);
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

#why-choose {
    background-color: var(--pink);
}

#why-choose ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    text-align: center;
}

.personal, .results, .supportive, .flexible {
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.personal {
    background-color: var(--teal);
}
.results {
    background-color: var(--lavender);
}

.supportive {
    background-color: var(--yellow);
}

.flexible {
    background-color: var(--white);
}

#one-on-one, #group, #workshops, #online {
    border: 3px solid var(--yellow);
    text-align: center;
    height: 150px;
    width: 250px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    background-color: var(--yellow);
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

td {
    border: 3px solid var(--yellow);
    background-color: var(--white);
    vertical-align: middle;
}

#take-first-step{
    background-color: var(--pink);
    color: var(--white);
    margin-top: 5px;
    position: relative;
    height: 250px;
}

#take-first-step a {
    text-decoration: none;
    color: var(--dark-gray);
    display: block;
    background-color: var(--white);
    width: 350px;
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    box-shadow: 8px 4px 4px var(--dark-gray);
} 

footer {
    color: var(--white);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    margin-bottom: 10px;
}

footer a {
    text-decoration: underline;
    color: var(--white);
    padding: 10px 0;
}