@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap);

:root {

    --teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}

* {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "inter";
    background-color: var(--lavender);
}

header, main, footer {
    background-color: var(--purple);
    width: 400px;
}

nav {
    background-color: var(--yellow);
}

h1, h2 {
    font-family: "kavoon";
}

h1 {
    font-size: 3em;
}
nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}